@use '../../styles/common/' as *;

.hero {
	display: flex;
	align-items: center;
	padding-inline: 25px;
}

.hero-background {
	width: 100%;
	height: 675px;
	object-fit: cover;
	object-position: 10%;
}

.hero-title {
	font-size: 56px;
	line-height: 62px;
	font-weight: 900;
	color: $snow;
	margin: 0;
}

.hero-description {
	font-size: 20px;
	line-height: 28px;
	color: $snow;
	margin: 14px 0 24px;
}

.hero-content {
	position: absolute;
	margin-inline: 85px;
	max-width: 421px;
}

@media (max-width: map-get($breakpoints, md)) {
	.hero {
		padding-inline: 0;
	}
	.hero-content {
		margin-inline: 15px;
	}
}
