@font-face {
  font-family: "Chronicle";
  src: url("/public/fonts/Chronicle_Display_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Chronicle;
  src: url("/public/fonts/Chronicle_Display_Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes verticalScrollLoop {
  0% {
    top: 100%;
  }
  100% {
    top: -150%;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    left: 20px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  height: 68px;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  height: 100%;
}

.burger-content {
  display: none;
  align-items: center;
  height: 100%;
}

.navbar-content a,
.burger-content a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 22px;
  color: #000000;
}

.navbar-items {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.secondary-navbar-items {
  float: right;
}

.cart-container {
  position: relative;
}
.cart-container img {
  width: 26px;
  height: 22px;
}
.cart-container div {
  position: absolute;
  background-color: #dda74a;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 16px;
  width: 16px;
  top: -5px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-container div p {
  width: 7px;
  height: 20px;
  color: #ffffff;
}

.burger-content {
  display: none;
}

.biom-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .navbar-content {
    display: none;
  }
  .burger-content {
    display: flex;
  }
  .navbar-items {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 992px) {
  .navbar-content {
    padding-inline: 30px;
  }
}
@media (min-width: 1440px) {
  .navbar-content {
    padding-inline: 12%;
  }
}
.burger-container {
  position: relative;
  width: 100%;
}

.burger-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 68px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px 50px 20px 30px;
  transform: translateX(-100%);
  transition: 0.4s ease all;
  z-index: 10;
}
.burger-menu.active {
  transform: translateX(0%);
}

.burger-icon {
  height: 32px;
  width: 32px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .burger-icon {
    display: flex;
  }
}

.burger-item {
  height: 2px;
  width: 20px;
  background: black;
  transition: all 0.2s ease;
}

.transform-item {
  transform-origin: top left;
}

.first {
  margin-bottom: 5px;
}

.third {
  margin-top: 5px;
}

.hero {
  display: flex;
  align-items: center;
  padding-inline: 25px;
}

.hero-background {
  width: 100%;
  height: 675px;
  object-fit: cover;
  object-position: 10%;
}

.hero-title {
  font-size: 56px;
  line-height: 62px;
  font-weight: 900;
  color: #fffafa;
  margin: 0;
}

.hero-description {
  font-size: 20px;
  line-height: 28px;
  color: #fffafa;
  margin: 14px 0 24px;
}

.hero-content {
  position: absolute;
  margin-inline: 85px;
  max-width: 421px;
}

@media (max-width: 768px) {
  .hero {
    padding-inline: 0;
  }
  .hero-content {
    margin-inline: 15px;
  }
}
.meet-biom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.meet-biom-container .meet-biom-background {
  height: 730px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  object-position: 20%;
}
.meet-biom-container .meet-biom-wrapper {
  position: absolute;
  top: 0;
  left: 15px;
  height: 88%;
}
.meet-biom-container .meet-biom-wrapper .meet-biom {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  width: 225px;
}
.meet-biom-container .meet-biom-wrapper .meet-biom span {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  white-space: nowrap;
  font-size: 225px;
  color: #f2f2f2;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  animation: verticalScrollLoop 6s linear infinite;
}
.meet-biom-container .meet-biom-wrapper:hover span {
  animation-play-state: paused;
}
.meet-biom-container button {
  margin: 42px 0 5px 0;
}

.content {
  position: absolute;
  margin-inline: 15px;
  right: 140px;
}

.meet-biom-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.1px;
  color: #002d33;
  text-transform: uppercase;
}

.meet-biom-subtitle {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: #002d33;
  margin: 8px 0;
}

.meet-biom-description {
  font-size: 18px;
  line-height: 28px;
  color: #002d33;
  margin: 0 0 42px 0;
  max-width: 580px;
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bullet-item {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media (max-width: 768px) {
  .subtitle {
    line-height: 50px;
  }
  .content {
    right: auto;
  }
}
@media (max-width: 992px) {
  .meet-biom-wrapper {
    display: none;
  }
  .background {
    opacity: 0.5;
  }
}
.biom-showcase {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
}

.showcase-title {
  position: absolute;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.showcase-title p:nth-child(1) {
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.showcase-title p:nth-child(2) {
  font-size: 78px;
  letter-spacing: -0.78px;
  line-height: 82px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
@media (max-width: 768px) {
  .showcase-title {
    width: 220px;
  }
  .showcase-title p:nth-child(2) {
    font-size: 54px;
    line-height: 46px;
  }
}

.slider {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.slider .showcase-slider-container {
  display: flex;
  width: inherit;
}
.slider .showcase-slider-container .showcase-slider {
  display: flex;
  position: relative;
  width: fit-content;
  gap: 20px;
}
.slider .showcase-slider-container .showcase-slider .showcase-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 535px;
  height: 415px;
  overflow: hidden;
  border-radius: 14px;
}
.slider .showcase-slider-container .showcase-slider .showcase-item p {
  position: absolute;
  bottom: 0;
  font-size: 23px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.slider .showcase-slider-container .showcase-slider .showcase-item img {
  object-fit: cover;
  width: fit-content;
  transition: all 0.3s ease-in;
  pointer-events: none;
  user-select: none;
}
.slider .showcase-slider-container .showcase-slider .showcase-item:hover p {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 0.3s;
  opacity: 1;
}
.slider .showcase-slider-container .showcase-slider .showcase-item:hover img {
  scale: 1.06;
  transition: all 0.3s ease-out;
}
@media (max-width: 768px) {
  .slider .showcase-slider-container .showcase-slider .showcase-item {
    max-width: 390px;
    height: auto;
    gap: 5px;
  }
  .slider .showcase-slider-container .showcase-slider .showcase-item img {
    object-fit: fill;
    width: 100%;
  }
  .slider .showcase-slider-container .showcase-slider .showcase-item p {
    opacity: 1;
    font-size: 20px;
  }
}

.choose-biom-color-container {
  display: flex;
  align-items: center;
  margin-top: 120px;
  width: 100%;
}
.choose-biom-color-container .call-to-action-content {
  display: flex;
  flex-direction: column;
  width: 435px;
  padding-left: 55px;
}
.choose-biom-color-container .call-to-action-content p {
  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
  color: #000000;
}
.choose-biom-color-container .call-to-action-content .button-content {
  display: flex;
  cursor: pointer;
  height: 50px;
}
.choose-biom-color-container .call-to-action-content .button-content button {
  width: 100%;
  background: none;
  border: 2px solid #002d33;
  border-right: 0;
  background-color: white;
  color: #002d33;
  height: 50px;
  border-radius: 6px 0 0 6px;
}
.choose-biom-color-container .call-to-action-content .button-content .arrow-icon-wrapper {
  border: 2px solid #002d33;
  border-radius: 0 6px 6px 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-biom-color-container .call-to-action-content .button-content .arrow-icon-wrapper:hover .arrow-icon {
  transition: 0.3s;
  left: 4px;
}
.choose-biom-color-container .call-to-action-content .button-content .arrow-icon-wrapper .arrow-icon {
  height: 100%;
  width: 20px;
  color: #002d33;
  position: relative;
  left: 0;
  transition: 0.3s;
}
.choose-biom-color-container .biom-items-content {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: auto;
}
.choose-biom-color-container .biom-items-content div {
  width: 100%;
  margin-left: -50px;
  position: relative;
}
.choose-biom-color-container .biom-items-content div:hover div p {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 0.3s;
  opacity: 1;
}
.choose-biom-color-container .biom-items-content div:hover img {
  transition: 0.3s;
  left: 120px;
}
.choose-biom-color-container .biom-items-content div div {
  position: absolute;
  bottom: 40px;
  left: 120px;
  width: 125px;
}
.choose-biom-color-container .biom-items-content div div p {
  margin: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.choose-biom-color-container .biom-items-content div div p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
}
.choose-biom-color-container .biom-items-content div div p:nth-child(2) {
  font-size: 14px;
}
.choose-biom-color-container .biom-items-content div img {
  height: 100%;
  position: relative;
  left: 0;
  transition: 0.3s;
  clip-path: inset(16px);
}
@media (max-width: 1400px) {
  .choose-biom-color-container {
    flex-direction: column;
    margin-top: 30px;
  }
  .choose-biom-color-container .call-to-action-content {
    margin-bottom: 15px;
    padding-inline: 30px;
    width: 40%;
  }
  .choose-biom-color-container .call-to-action-content p {
    text-align: center;
  }
  .choose-biom-color-container .biom-items-content {
    height: 100%;
  }
  .choose-biom-color-container .biom-items-content div {
    pointer-events: none;
    margin: 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .choose-biom-color-container .biom-items-content div div {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .choose-biom-color-container .biom-items-content div div p {
    opacity: 1;
  }
  .choose-biom-color-container .biom-items-content div img {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .choose-biom-color-container .call-to-action-content {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .choose-biom-color-container .call-to-action-content {
    width: 90%;
  }
}

.reviews {
  min-height: 450px;
  width: 100%;
  background-color: #f2f2f2;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #004a4c;
}
.reviews .reviews-title {
  font-size: 14px;
  letter-spacing: 2.1px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.reviews .review-content {
  width: 100%;
  max-width: 747px;
  text-align: center;
  padding-inline: 25px;
  position: relative;
}
.reviews .review-content .review {
  font-size: 25px;
  font-weight: 700;
  line-height: 42px;
}
.reviews .review-content .author {
  margin-bottom: 34px;
  font-size: 13px;
  letter-spacing: 1.3px;
}
.reviews .active {
  position: relative;
  animation: slideIn 1s ease forwards;
}
.reviews .hide {
  display: none;
}
.reviews .dots .dot {
  height: 8px;
  width: 8px;
  margin-inline: 6px;
  padding: 0;
  border: 1px solid #004a4c;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 300ms ease;
  cursor: pointer;
}
.reviews .dots .dot:hover {
  background-color: #004a4c;
  transition: background-color 300ms ease;
}
.reviews .dots .filled {
  background-color: #004a4c;
  transition: background-color 300ms ease;
}

.primary-button {
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 6px;
  border: none;
}
.primary-button:hover {
  background-color: #fffafa;
  cursor: pointer;
}
.primary-button span {
  color: #004a4c;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30pd;
  letter-spacing: 1.95px;
  font-weight: 900;
}

.dark {
  background-color: #004a4c;
}
.dark:hover {
  background-color: #002d33;
}
.dark span {
  color: #fffafa;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
