@use '../pages//HomePage/HomePage.scss';
@use '../components/Navbar/Navbar.scss';
@use '../components/Navbar/Burger.scss';
@use '../components/HeroSection/HeroSection.scss';
@use '../components/MeetBiomSection/MeetBiomSection.scss';
@use '../components/Button/Button.scss';

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	margin: 0;
	padding: 0;
}
