$white: #ffffff;
$white_75: rgba(255, 255, 255, 0.75);
$lightGray: #f2f2f2;
$snow: #fffafa;
$darkTeal: #002d33;
$lightBlueGray: #dae5e5;
$darkTurquoise: #004a4c;
$black: #000000;
$goldenBrown: #dda74a;
